asn1crypto==0.24.0
attrs==19.1.0
backports.functools-lru-cache==1.5
blessings==1.7
bpython==0.18
CacheControl==0.12.5
cachetools==3.1.1
cachy==0.2.0
certifi==2019.6.16
cffi==1.12.3
chardet==3.0.4
cleo==0.6.8
click==6.7
configparser==3.7.4
contextlib2==0.5.5
cryptography==2.7
curtsies==0.3.0
cycler==0.10.0
docopt==0.6.2
enum34==1.1.6
Flask==1.1.1
functools32==3.2.3.post2
future==0.17.1
futures==3.2.0
glob2==0.6
google-assistant-grpc==0.2.1
google-assistant-sdk==0.5.1
google-auth==1.6.3
google-auth-oauthlib==0.4.0
googleapis-common-protos==1.6.0
greenlet==0.4.15
grpcio==1.22.0
gunicorn==19.9.0
html5lib==1.0.1
idna==2.8
importlib-metadata==0.18
ipaddress==1.0.22
itsdangerous==1.1.0
jedi==0.12.1
Jinja2==2.10.1
jsonschema==3.0.1
kiwisolver==1.1.0
lockfile==0.12.2
MarkupSafe==1.1.1
matplotlib==2.2.4
mccabe==0.6.1
monotonic==1.5
msgpack==0.6.1
nltk==3.4.3
numpy==1.16.4
oauthlib==3.0.2
parso==0.5.0
pastel==0.1.0
pathlib2==2.3.4
pipreqs-amasad==0.4.10
pkginfo==1.5.0.1
pluggy==0.12.0
poetry==0.12.16
prompt-toolkit==2.0.9
protobuf==3.8.0
ptpython==2.0.4
pyasn1==0.4.5
pyasn1-modules==0.2.5
pycodestyle==2.4.0
pycparser==2.19
pyflakes==2.0.0
Pygments==2.4.2
pylev==1.3.0
pyOpenSSL==19.0.0
pyparsing==2.4.0
pyrsistent==0.14.11
python-dateutil==2.8.0
python-jsonrpc-server==0.2.0
python-language-server==0.21.2
pytz==2019.1
requests==2.22.0
requests-oauthlib==1.2.0
requests-toolbelt==0.8.0
rope==0.11.0
rsa==4.0
scandir==1.10.0
scipy==1.2.2
shellingham==1.3.1
singledispatch==3.4.0.3
six==1.12.0
sounddevice==0.3.13
subprocess32==3.5.4
tenacity==4.12.0
tomlkit==0.5.5
typing==3.7.4
urllib3==1.25.3
virtualenv==16.6.1
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.15.4
yapf==0.25.0
yarg==0.1.9
zipp==0.5.1
