@charset "utf-8";
body{
  transition: all 0.5s ease-in-out;
}
#canvas{
  margin: 30px;
  border: 1px solid lightgrey;
  width: 600px;
  height: 700px;
}

.btn{
  position: absolute;
  left: 250px;
  transition: all 0.3s ease-in-out;


}
.btn:hover{
  opacity: 0.8;
  transform: rotateX(360deg);
}

#basicBtn{
  top: 450px;

}
#timeBtn{
  top: 550px;
}

#tryAgainBtn{
  top: 420px;
  display: none;
}

input{
  top: 330px;
  position: absolute;
  left: 220px;
  height: 45px;
  width: 180px;
}

#btnSave{
  top: 330px;
  position: absolute;
  left: 410px;
  height: 50px;
  width: 100px;
}
#btnBack{
  font-size: 25px;
  position: absolute;
  top: 50px;
  left: 700px;
  height: 80px;
  width: 100px;
}
#btnStart{
  top: 500px;
  width:200px;
  height:50px;
}
#mute{
  top: 140px;
  position: absolute;
  left: 700px;
}
#unMute{
  top: 180px;
  position: absolute;
  left: 700px;
}
#homeBtn{
  top: 630px;
  left:520px;
  width: 100px;
  height: 100px;


}
#scoreBtn{
  top: 500px;
}
